.wrapperInput {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 40px;
  margin-bottom: 60px;
}
.wrapperInput input {
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  padding-bottom: 20px;
  padding-left: 10px;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: var(--gray-Color);
}
.error {
  font-family: var(--font-primary);
  font-size: 10px;
  color: red;
  text-align: start;
  padding-left: 10px;
  margin-top: 5px;
}
.button {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.btnReg {
  background-color: var(--orange-Color);
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 13px 51px;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-Color);
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 160px;
}

.btnLogIn {
  border-radius: 30px;
  border: 1px solid var(--orange-Color);
  padding: 13px 51px;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--orange-Color);
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btnReg.active {
  background-color: var(--orange-Color);
  color: var(--white-Color);
}

.btnLogIn.active {
  background-color: var(--orange-Color);
  color: var(--white-Color);
  border: none;
}

.btnReg:hover,
.btnLogIn:hover {
  box-shadow: 0px 4px 10px var(--transparent_orange-Color);
}

@media (min-width: 768px) {
  .wrapperInput {
    width: 30%;
  }
  .button {
    flex-direction: row;
  }
}
