.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  margin: 20px 32px 16px 32px;
}
.wrapper {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

@media (min-width: 1024px) {
  .header {
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
  }

  .verticalLine {
    width: 3px;
    background-color: var(--verticalLine-color);
    height: 50px;
  }
}
.containerUserInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  background-color: var(--bg_UserInfo);
  gap: 16px;
  padding-top: 15px;
  padding-bottom: 12px;
}
